.header__link {
	display: block;
	color: #5383bc;
	letter-spacing: 1px;
	line-height: none;
	text-decoration: none;
	text-transform: uppercase;
	transition: .2s ease-in-out;
}

.header__link:hover {
	color: #ea4681;
}