.page {
	font-family: 'Rubik', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	color: #5383bc;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: #fbfdff;
}