.intro {
	box-sizing: border-box;
	min-height: 585px;
	padding-left: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	background: url("../../images/intro-bg.png") no-repeat right / contain, url("../../images/intro-grad.png") no-repeat 100%;
}