.intro {
	box-sizing: border-box;
	min-height: 585px;
	padding-left: 75px;
	border-radius: 10px;
	background: url("../../images/intro-bg.png") no-repeat top right / contain;
	box-shadow: 0 4px 30px rgba(96, 179, 255, 0.1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.intro::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: url("../../images/intro-grad.png") no-repeat;
	z-index: -10;
}