.intro__contact-btn {
	width: 320px;
	height: 70px;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	border-radius: 90px;
	background: radial-gradient(217.74% 429.49% at 50% 50%, #FF7BAA 0%, #EA4681 100%);
}